In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [17]:
df=pd.read_csv('NetflixDataset.csv',encoding='latin-1')

In [18]:
df

,Title,Genre,Tags,Languages,Country Availability,Runtime,Director,Writer,Actors,View Rating,...,Awards Nominated For,Boxoffice,Release Date,Netflix Release Date,Production House,Netflix Link,Summary,Series or Movie,IMDb Votes,Image
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Comedy Programmes,Romantic TV Comedies,Horror ...","Swedish, Spanish",Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,"Lina Leandersson, Kåre Hedebrant, Per Ragnar, ...",R,...,57.0,"$21,22,065",12-Dec-08,04-03-2021,"Canal+, Sandrew Metronome",https://www.netflix.com/watch/81415947,A med student with a supernatural gift tries t...,Series,205926.0,https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...
1,HOW TO BUILD A GIRL,Comedy,"Dramas,Comedies,Films Based on Books,British",English,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,"Cleo, Paddy Considine, Beanie Feldstein, Dónal...",R,...,NaN,"$70,632",08-May-20,04-03-2021,"Film 4, Monumental Pictures, Lionsgate",https://www.netflix.com/watch/81041267,"When nerdy Johanna moves to London, things get...",Movie,2838.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...
2,The Con-Heartist,"Comedy, Romance","Romantic Comedies,Comedies,Romantic Films,Thai...",Thai,Thailand,> 2 hrs,Mez Tharatorn,"Pattaranad Bhiboonsawade, Mez Tharatorn, Thods...","Kathaleeya McIntosh, Nadech Kugimiya, Pimchano...",NaN,...,NaN,NaN,03-Dec-20,03-03-2021,NaN,https://www.netflix.com/watch/81306155,After her ex-boyfriend cons her out of a large...,Movie,131.0,https://occ-0-2188-64.1.nflxso.net/dnm/api/v6/...
3,Gleboka woda,Drama,"TV Dramas,Polish TV Shows,Social Issue TV Dramas",Polish,Poland,< 30 minutes,NaN,NaN,"Katarzyna Maciag, Piotr Nowak, Marcin Dorocins...",NaN,...,4.0,NaN,14-Jun-11,03-03-2021,NaN,https://www.netflix.com/watch/81307527,A group of social welfare workers led by their...,Series,47.0,https://occ-0-2508-2706.1.nflxso.net/dnm/api/v...
4,Only a Mother,Drama,"Social Issue Dramas,Dramas,Movies Based on Boo...",Swedish,"Lithuania,Poland,France,Italy,Spain,Greece,Bel...",1-2 hour,Alf Sjöberg,Ivar Lo-Johansson,"Hugo Björne, Eva Dahlbeck, Ulf Palme, Ragnar F...",NaN,...,1.0,NaN,31-Oct-49,03-03-2021,NaN,https://www.netflix.com/watch/81382068,An unhappily married farm worker struggling to...,Movie,88.0,https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9398,13 Going on 30,"Comedy, Fantasy, Romance","Romantic Comedies,Comedies,Romantic Films,Roma...","English, Portuguese","Hungary,Lithuania,Romania,United Kingdom,Belgi...",1-2 hour,Gary Winick,"Josh Goldsmith, Cathy Yuspa","Andy Serkis, Jennifer Garner, Mark Ruffalo, Ju...",PG-13,...,11.0,"$5,72,31,747",23-Apr-04,14-04-2015,"Revolution Studios, Thirteen Productions LLC",https://www.netflix.com/watch/60034573,When a geeky teens birthday party goes awry an...,Movie,167842.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
9399,LIFE 2.0,Documentary,"Social & Cultural Documentaries,Biographical D...",English,"Hungary,Lithuania,India,Australia,United Kingd...",1-2 hour,Jason Spingarn-Koff,NaN,Teasa Copprue,NotRated,...,NaN,NaN,22-Jan-10,14-04-2015,NaN,https://www.netflix.com/watch/70129457,Computer users across the globe log onto the v...,Movie,878.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
9400,Brand New Day,"Documentary, Music","Australian Comedies,Romantic Comedies,Australi...",English,Australia,1-2 hour,Amos Gitai,NaN,"Ryuichi Sakamoto, Clem Burke, Annie Lennox, Pa...",NaN,...,NaN,NaN,17-Sep-88,14-04-2015,NaN,https://www.netflix.com/watch/70125340,In an idyllic port town on Australias west coa...,Movie,14.0,http://cdn1.nflximg.net/images/5543/12045543.jpg
9401,Daniel Arends: Blessuretijd,Comedy,"Stand-up Comedy,International Movies,Comedies",Dutch,Belgium,1-2 hour,Doesjka van Hoogdalem,Daniël Arends,Daniël Arends,NaN,...,NaN,NaN,13-Jan-12,14-04-2015,NaN,https://www.netflix.com/watch/70281233,"In his third show, Daniël Arends argues that g...",Movie,174.0,http://occ-0-768-769.1.nflxso.net/dnm/api/v6/e...
9402,DreamWorks Happy Holidays from Madagascar,"Animation, Comedy, Family","TV Comedies,Kids TV,Animal Tales,TV Cartoons,T...",English,"Belgium,Switzerland,United States,Germany,Unit...",< 30 minutes,NaN,NaN,Jung Hyun Kim,NaN,...,NaN,NaN,NaN,14-04-2015,NaN,https://www.netflix.com/watch/70259784,Madagascar goes wild with holiday spirit in th...,Series,71.0,https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...

In [19]:
Language=df.Languages.str.get_dummies(",")

In [20]:
lang=Language.columns.str.strip().values.tolist()

In [21]:
len(lang)

270

In [22]:
lang_count=dict()
for i in lang:
    p=df.Languages.str.count(i).sum()
    lang_count[i]=p

In [26]:
df1=pd.DataFrame(lang_count,index=[1])

In [27]:
df1

,Ancient (to 1453),Old,Aboriginal,Acholi,Afrikaans,Akan,Albanian,Algonquin,American Sign Language,Amharic,...,Yiddish,Yoruba,Zulu,Haitian,Kazakh,Kikuyu,Nahuatl,Scanian,Tswana,Wayuu
1,0.0,5.0,8.0,2.0,20.0,2.0,6.0,1.0,26.0,2.0,...,24.0,3.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [38]:
df1_transposed = df1.T

In [39]:
df1_transposed['index']=df1_transposed.index

In [54]:
df2=df1_transposed.rename(columns={1:'counts','index':"language"})

In [55]:
df2

                   counts           language
Ancient (to 1453)     0.0  Ancient (to 1453)
Old                   5.0                Old
Aboriginal            8.0         Aboriginal
Acholi                2.0             Acholi
Afrikaans            20.0          Afrikaans
...                   ...                ...
Kikuyu                1.0             Kikuyu
Nahuatl               1.0            Nahuatl
Scanian               1.0            Scanian
Tswana                1.0             Tswana
Wayuu                 1.0              Wayuu

[184 rows x 2 columns]

In [56]:
df2.reset_index(drop=True,inplace=True)

In [59]:
df2.head(10)

   counts                language
0     0.0       Ancient (to 1453)
1     5.0                     Old
2     8.0              Aboriginal
3     2.0                  Acholi
4    20.0               Afrikaans
5     2.0                    Akan
6     6.0                Albanian
7     1.0               Algonquin
8    26.0  American Sign Language
9     2.0                 Amharic

In [58]:
df2.sort_values(by=df2['counts'])

KeyError: 0       0.0
1       5.0
2       8.0
3       2.0
4      20.0
       ...
179     1.0
180     1.0
181     1.0
182     1.0
183     1.0
Name: counts, Length: 184, dtype: float64